{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% from "card_template.html" import card %}

{% block content %}
{% call card(
    title=_('Send Message to %(recipient)s', recipient=recipient)
  ) %}
  {{ wtf.quick_form(form, action=url_for('main.send_message', recipient=recipient)) }}

  <div class="mt-4 text-center pt-3 border-top">
    <a href="{{ url_for('main.user', username=recipient) }}" 
       class="btn btn-outline-secondary rounded-pill px-4">
      <i class="bi bi-arrow-left me-2"></i>
      {{ _('Back to Profile') }}
    </a>
  </div>
{% endcall %}
{% endblock %}